// Requirements
// ============

@import "susy";

$susy: (
  container:80%,
  container-position:center,
  columns: 12,
  gutters: 1/4,
  gutter-position:before,
  debug: (
		image: show,
		color: red,
		output: overlay,
		toggle: top bottom,
  ),
);

$susy-media: (
  min: 20em,
  max: 80em 60em,
  string: 'screen and (orientation: landscape)',
  pair: min-height 40em,
  map: (
    media: screen,
    max-width: 30em
  ),
);

@include susy-media(string){
	.cc{
		width: 100px;
	}
};

.container{
	@include container;
	@include show-grid(overlay);
	background:red;
		nav{
			@include span(6 of 12);
			background:#00F;
			&:nth-child(1){
				@include first;
				@include squish(1 at 2 3 at 6);
			}
		}

}


@include susy-breakpoint(30em, 8) {
  // nested code uses an 8-column grid,
  // starting at a 30em min-width breakpoint...
  .example { @include span(3); }
}


$grid: (1 2 3 2 1);

	.outer {
			background:green;
			@include gallery(3 of 12);
	}

