// Requirements
// ============

@import "susy";

$susy: (
  container:80%,
  container-position:center,
  columns: 12,
  gutters: 1/4,
  gutter-position:before,
  debug: (
		image: show,
		color: red,
		output: overlay,
		toggle: top bottom,
  ),
);


.container{
	@include container;
	background:red;
		nav{
			@include span(6 of 12);
			background:#00F;
			&:nth-child(1){
				@include first;
			}
		}

}




$grid: (1 2 3 2 1);

	.outer {
	  @include span(3 of $grid at 2);
		background:#000;
	  $context: nested(3 of $grid at 2);
	  .inner { @include span(2 of $context at 1); background:red;}
	}