/* line 21, ../sass/_grids.scss */
.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: red;
}
/* line 12, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 65, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/language/susy/_background.scss */
head {
  display: block;
  position: fixed;
  : 10px;
  bottom: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}
/* line 66, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/language/susy/_background.scss */
head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
/* line 67, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/language/susy/_background.scss */
head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}
/* line 71, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/language/susy/_background.scss */
head:hover ~ .container, head:hover ~ body .container {
  position: relative;
}
/* line 74, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/language/susy/_background.scss */
head:hover ~ .container:before, head:hover ~ body .container:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: linear-gradient(to right, red, #ff4d4d 80%, transparent 80%);
  background-size: 8.47458%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}
/* line 24, ../sass/_grids.scss */
.container nav {
  width: 49.15254%;
  float: left;
  margin-left: 1.69492%;
  background: #00F;
}
/* line 27, ../sass/_grids.scss */
.container nav:nth-child(1) {
  margin-left: 0;
}

/* line 39, ../sass/_grids.scss */
.outer {
  width: 75%;
  float: left;
  margin-left: 2.5%;
  background: #000;
}
/* line 43, ../sass/_grids.scss */
.outer .inner {
  width: 70%;
  float: left;
  margin-left: 0;
  background: red;
}
